.about-us {
    background-color: #424242;
    min-height: 50vh;
    width: 100%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.about-us-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

/* .about-us-content:nth-of-type(2) {
    flex-direction: row;
    justify-content: center;
}
*/
.about-imgs {
    max-width: 30%;
    height: 100%;
}